APP_DATA_DIR=runtime
APP_MAX_UPLOAD_BYTES=524288000
APP_MAX_MEDIA_PIXELS=40000000
APP_MAX_VIDEO_DURATION_SECONDS=7200
APP_FRAME_INTERVAL_SECONDS=1.0
APP_MAX_SAMPLED_FRAMES=300
APP_RETENTION_HOURS=168
APP_CLEANUP_INTERVAL_SECONDS=3600
APP_CODE_VERSION=dev
APP_MODEL_PATH=models/dual_stream_calibrated.pth
APP_DEEPFAKE_IMAGE_SIZE=512
APP_DEEPFAKE_BATCH_SIZE=4
